body {
    color: white;
    background-color: rgb(60, 40, 73);
    font-family: sans-serif;
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 60px;
}

.colette {
    width: 160px;
    height: 40px;
}

.search-box {
    flex: 1;
    display: flex;
    justify-content: center;
}

.search-text {
    width: 100%;
    max-width: 500px;
    height: 40px;
    padding-left: 15px;
    color: white;
    background-color: rgb(201, 137, 243);
    border: 1px solid rgb(96, 91, 218);
    border-radius: 20px;
    font-size: 18px;
}

.fazer-login {
    color: rgb(255, 255, 255);
    font-size: 15px;
    font-weight: bold;
    border: 1px solid rgb(96, 91, 218);
    padding: 5px 10px;
    border-radius: 20px; 
    text-decoration: none;
}

button {
    padding: 5px 20px;
    font-size: 15px;
    font-weight: bold;
    border: none;
    background-color: rgb(107, 95, 173);  
    color: rgb(255, 255, 255);
    border-radius: 6px;
    cursor: pointer;    
    white-space: nowrap;

}


button.active{
    background-color: rgb(111, 8, 143);
    color: white;
}


.container-filtro {
    display: flex;
    gap: 10px;
    margin: 30px 60px;
    padding-bottom: 10px;
}

