body {
    overflow-x: hidden; 
    margin: 0;
    font-family: sans-serif;
    background-color: rgb(8, 125, 160);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    gap: 20px;
    flex-wrap: wrap;
    background-color: rgb(8, 125, 160);
}

.colette {
    width: 160px;
    height: auto;
}

.search-box {
    flex: 1;
    display: flex;
    justify-content: center;
    min-width: 400px;
    max-width: 700px;
    margin: 0 20px;
}

::-webkit-input-placeholder {
   color: rgb(199, 198, 198);
   font-size: 15px;
   text-decoration: none;
   font-family: sans-serif;
}

.search-text {
    width: 100%;
    height: 46px;
    padding: 0 20px;
    color: white;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.815);
    border-radius: 40px;
    font-size: 16px;
    outline: none;
    transition: all 0.3s ease;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0,1);
}

.search-text:focus {
    background-color: rgba(255, 255, 255, 0.1);
    border-color: rgb(255, 238, 0);
    box-shadow: 0 0 8px rgba(255, 238, 0, 0.5);
}

.fazer-login {
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: 2px solid rgba(255, 255, 255, 0.815);
    padding: 12px 36px;
    border-radius: 30px;
    text-decoration: none;
    background-color: transparent;
    transition: all 0.3s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.fazer-login:hover {
    background-color: rgb(255, 238, 0);
    color: rgb(8, 125, 160);
    cursor: pointer;
    transform: scale(1.05);
}

* {
    margin: 0; padding:0;
    font-display: center;
    text-transform: capitalize;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
} 

.heading{
    color:rgb(96, 91, 218);
    font-size: 40px;
    text-align: center;
    padding: 10px;
}

.off-screen-menu {
    background-color: rgb(8, 125, 160);
    height: 100vh;
    width: 100%;
    max-width: 450px;
    position: fixed;
    top: 0;
    left: -450px;
    display: flex;
    flex-direction: column;
    transition: .3s ease;
    overflow-y: auto; 
    padding: 20px;
}

.off-screen-menu.active {
    left: 0;
}

.off-screen-menu ul li a {
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 18px;
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
    transition: background 0.3s;
    text-decoration: none;
}

off.screen-menu ul li a:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.off-screen-menu ul li i {
    width: 24px;
    text-align: center;
    font-size: 20px;
}

.off-screen-menu ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
}

nav {
    padding: 1rem;
    display: flex;
    background-color:  rgb(8, 125, 160);
}

.ham-menu {
    height: 50px;
    width: 40px;
    margin-left: auto;
    position: relative;
}
.ham-menu span {
    height: 5px;
    width: 100%;
    background-color: #ffffff;
    border-radius: 25px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: .3s ease;
}
.ham-menu span:nth-child(1) {
    top: 25%;
}
.ham-menu span:nth-child(3) {
    top: 75%;
}
.ham-menu.active span {
    background-color: white;
}
.ham-menu.active span:nth-child(1) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}
.ham-menu.active span:nth-child(2) {
    opacity: 0;
}
.ham-menu.active span:nth-child(3) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}


.container-filtro {
    font-family: "Roboto", sans-serif;
    background-color: rgb(8, 125, 160);
    width: 100%;
    max-width: 1400px; 
    margin: 20px auto;  
    padding: 0 40px;    
    border-radius: 8px;
    overflow: hidden;
    position: relative;
    white-space: nowrap;
}


.container-filtro svg {
    width: 24px;
    height: 24px;
    padding: 8px;
    color: white;
    border-radius:50%;
    pointer-events: auto;

}

.container-filtro ul {
    display: flex;
    gap: 16px;
    padding: 2px 0px;    
    padding-left: 0;
    padding-right: 0;
    margin: 0;
    list-style: none;
    flex-wrap: nowrap;
    overflow-x: auto;
    scroll-behavior: smooth;
    white-space: nowrap;
}

.container-filtro li {
    margin: 0;
    padding: 0;
}

.container-filtro ul.dragging {
    scroll-behavior: auto;
}

.container-filtro ul::-webkit-scrollbar {
    display: none;
}

.container-filtro a {
    color: white;
    text-decoration: none;
    background-color: rgb(3, 65, 122);
    padding: 10px 28px;
    display: inline-block;
    border-radius: 8px;
    user-select: none;
    white-space: nowrap;

}

.container-filtro a.active {
    background-color: rgb(255, 255, 255);
    color: black
}

.container-filtro .right-arrow,
.container-filtro .left-arrow {
    position: absolute;
    height: 100%;
    width: 64px;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 20;
    background-color: rgb(8, 125, 160);
    pointer-events: auto;
}

.container-filtro .right-arrow {
    right: 0;
    background: linear-gradient(to left, rgba(60, 40, 73, 0.9) 30%, transparent);
}

.container-filtro .left-arrow {
    left: 0;
    background: linear-gradient(to right, rgba(60, 40, 73, 0.9) 30%, );
}

.container-filtro .right-arrow.active,
.container-filtro .left-arrow.active {
    position: flex;
}

.container-filtro svg:hover {
    background-color: rgb(60, 40, 73);
    border-radius: 50%;

}