body {
    overflow-x: hidden; 
    margin: 0;
    font-family: sans-serif;
    background-color: rgb(8, 125, 160);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    gap: 20px;
    flex-wrap: wrap;
}

.colette {
    width: 160px;
    height: auto;
}

.search-box {
    flex: 1;
    display: flex;
    justify-content: center;
}

.search-text {
    width: 100%;
    max-width: 500px;
    height: 40px;
    padding-left: 15px;
    color: white;
    background-color: rgb(8, 125, 160);
    border: 1px solid rgb(0, 0, 0);
    border-radius: 20px;
    font-size: 18px;
}

.fazer-login {
    color: white;
    font-size: 15px;
    font-weight: bold;
    border: 1px solid rgb(96, 91, 218);
    padding: 10px 30px;
    border-radius: 20px;
    font-size: 15px;
    text-decoration: none;
}

* {
    margin: 0; padding:0;
    box-sizing: border-box;
    text-transform: capitalize;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
} 

.heading{
    color:rgb(96, 91, 218);
    font-size: 40px;
    text-align: center;
    padding: 10px;
}

.container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
    padding: 20px 5%;
}

.main-video {
    background: white;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 0 15px black;
}

.main-video video{
    width: 100%;
    border-radius: 10px;
}

.main-video .title{
    color: black;
    font-size: 23px;
    margin-top: 10px;
}

.video-list{
    background: white;
    border-radius: 10px;
    padding: 10px;
    height: 520px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.container .video-list::-webkit-scrollbar {
    width: 7px;
}

.container .video-list::-webkit-scrollbar-track {
    background: rgb(0, 0, 0);
    border-radius: 50px;

}

.container .video-list::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 50px;

}

.video-list .vid{
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    padding: 10px;
    border-radius: 8px;
    border: 2px solid transparent;
    transition: all 0.2s ease-in-out;
}

.video-list .vid video {
    width: 100px;
    border-radius: 5px;
}

.container .video-list .vid.hover{
    background: white
}

.container .video-list .vid.active{
    background:rgb(96, 91, 218);
    border-color:rgb(8, 125, 160);
}

.container .video-list .vid.acitve .title{
    color: black;
    font-size: 17px;
}

@media(max-width: 768px){

    .container{
        grid-template-columns: 1fr;
    }

    .video-list {
        flex-direction: row;
        overflow-x: auto;
        max-height: none;
    }

    .video-list .vid {
        min-width: 150px;
        flex-direction: column;
        align-items: flex-start;
    }

    .video-list .vid video {
        width: 100%;
    }

    .video-list .vid .title {
        font-size: 14px;
        text-align: left;

    }
}